.grid-2-column {
  grid-template-columns: 50fr 50fr;
}

.section-hero {
  margin: 5vh auto 0 auto;
  gap: 6.4rem;
  padding-bottom: 0;
}

.crew-img {
  margin: auto auto 0 auto;
  width: 65%;
}

.person-img {
  width: 100%;
}
